<div id="post_<%= post.id %>" class='post'>
  <div class='post_title'><%= post.title %></div>
  <div class='post_content'><%= post.content %></div>
  <small class='post_info'>-
    <%= post.user.name %> &bull;
    <%= localize post.created_at, format: :long %> &bull;
    <% if current_user == post.user %>
      <%= link_to "Edit", edit_post_path(post) %> &bull;
      <%= link_to "Destroy", post, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </small>

  <%= render "comments/widget", commentable: post %>
</div >
